<!DOCTYPE html>
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm.value)">
  <!--ngNativeValidate is used to enable browser validate which is disabled by default for Angular 4 and later versions-->  
<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input required id="Namefull" name="name" [(ngModel)]="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" [(ngModel)]= "email" type="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" type="number" class="form-control">
    </div>

    <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
              <input type="radio" value="phone" name="contactPreference" [(ngModel)]="contactPreference">
              Phone
          </label>
          <label class="radio-inline">
              <input type="radio" value="email" name="contactPreference" [(ngModel)]="contactPreference">
              Email
          </label>
      </div>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
              <input type="radio" value="male" name="gender" [(ngModel)]="gender">
              Male
          </label>
          <label class="radio-inline">
              <input type="radio" value="female" name="gender" [(ngModel)]="gender">
              Female
          </label>
      </div>
    </div>
    <div class="form-group">
        <div class="form-control">
          <label class="checkbox-inline">
              <input type="checkbox" name="isActive" [(ngModel)]="isActive">
              Is Active
          </label>
      </div>
    </div>

    <div class="form-group">
          <label for="department">
              Department
          </label>
          <select id="department" name="department" [(ngModel)]="department" class="form-control">
            <!-- <option value="1">HelpDesk</option>
            <option value="2">IT</option>
            <option value="3">HR</option>
            <option value="4">Payroll</option> -->
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>

          <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label>
              <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]= "dateOfBirth"
               type="date"  class="form-control">
          </div>

          <div class="form-group">
            <label for="photoPath">Photo Path</label>
            <input id="photoPath" name="photoPath" [(ngModel)]="photoPath" type="text" class="form-control">
        </div>

        <div class="form-group">
          <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary">
            {{previewPhoto ? "Hide ": "Show "}} Image Preview
          </button>
        </div>

        <div class="form-group">
          <img [src]="photoPath" height="250" width="200" *ngIf="previewPhoto"/>
        </div>
    </div>

  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</div>
</form>

Angular Generated Form Model: {{ employeeForm.value | json }}